@font-face {
    font-family: Teko;
    src: url('./assets/fonts/Teko/Teko-Light.ttf');
}

@font-face {
    font-family: Lobster;
    src:url('./assets/fonts/Lobster/Lobster-Regular.ttf')
}


:root{
    --color1:rgb(145, 133, 133);
    --color2:blue;
    --color3:#0bb5f4;
    --color4:#0bb5f4;
}

*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
   list-style: none;
}

body{
 font-family: 'Calibri Light';
  background-color:var(--color1);
  height: 100vh;
  font-size:14px;
  line-height: 22px;
}

.container{
    width:800px;
    margin:30px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-area: a a;
    position: relative;
}

.left{
    width:400px;
    position: relative;
}

.info{
  position: absolute;
  top:352px;
}

img{
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
    padding:20px;
    margin-bottom: 0;
}

.title h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size:3rem;
    font-family: 'Teko';
}

.title h2{
    font-size:20px;
    font-weight: 400;
    font-family: 'Lobster';
}

.info{
    background-color:var(--color3);
    margin:0;
    width:100%;
}

.title{
    line-height: 1.8rem;
}

.info-item{
    padding:20px;
}


ul li{
    display: flex;
    font-size:20px;
    padding:5px;
    cursor:pointer;
    font-size:1.5rem;
    padding:5px;
}

.data{
    color: var(--color4);
    margin-top:5px;
    color:#000;
    font-size:20px;
}

.icon{
  width: 35px;
  height: 35px;
  background: #fff;
  color: var(--color4);
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3{
    font-family: 'Teko';
    font-size:2rem;
    text-align: center;
    padding-bottom:2px;

    text-decoration-color: whitesmoke;
    line-height: 30px;
}

.info-item{
    border-bottom:5px solid #fff;
}

.info-item .part h2{
   text-decoration:underline;
   text-transform: uppercase;
   padding:20px 0 5px 0;
}

.info-item .part p{
   font-size:1rem;
}

.skills{
    width:360px;
    color:white;
    font-family: sans-serif;
    background:transparent;
} 
.skills li{
    display: block;
}

.bar{
    background:white;;
    display: block;
    height: 12px;
    border:1px solid rgba(0,0,0,0.3);
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
    width:95%;
    margin:6px 0 10px 0;
}

.bar span{
    height: 12px;
    float:left;
    background:#2187e7;
}

.html{
    width:100%;
}

.css{
    width:75%;  
}

.javascript{
    width:65%;
}

.php{
    width:20%;
}

.bootstrap{
    width:80%;
}

.react{
    width:85%;
}

.redux{
    width:40%;
}

.sql{
    width:80%;
}

.mongodb{
    width:70%;
}

.right{
    width:400px;
    background:white;
    position: relative;
}